{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Welcome to Betapp!</h2>
    {% if form.errors %}
        <p>Login or password are incorrect. Try again.</p>
    {% else %}
        <p>Fill below form to login:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}"/>
            <input type="submit" value="Login"/>
        </form>
        <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
    </div>
{% endblock %}
